.container-vse {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 32px;
}

.form-input {
  min-width: 272px;
  min-height: 40px;
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
}

.form-input:hover,
.form-input:focus {
  outline: none;
  border-color: #4e75ff;
}

.form-input::placeholder {
  color: #808080;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.button,
.load-more {
  min-width: 91px;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background: #4e75ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  cursor: pointer;
}

.load-more {
  padding: 10px;
}

.hidden {
  display: none;
}

.button:hover,
.button:focus,
.load-more-button:hover,
.load-more-button:focus {
  background: #6c8cff;
}

.gallery {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 20px;
}

@media (min-width: 768px) {
  .gallery {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .gallery a {
    width: calc((100% - 48px) / 3); /* 3 фото + 2 gap по 24px */
    height: 300px;
  }

  .gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 8px;
  }
}

@media (min-width: 1280px) {
  .gallery a {
    width: calc((100% - 72px) / 4); /* 4 фото + 3 gap по 24px */
  }
}
